@import "tailwindcss";

@layer base {
  :root {
    --background: hsl(0 0% 90%);
    --foreground: hsl(0 0% 3.9%);
    --btn-black: hsl(0, 0%, 10%);
    --btn-red: hsla(2, 100%, 93%, 1);
    --text-red: hsla(3, 100%, 67%, 1);
  }
}

@theme{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

main {
  background-color: var(--color-background);
}

.span-color {
  background-color: var(--color-background);
}

.btn-black {
  background-color: var(--btn-black);
}

.btn-red {
background-color: var(--btn-red);
color: var(--text-red);
}

