@import "tailwindcss";

@layer base {
  :root {
    --background: hsl(0 0% 90%);
    --foreground: hsl(0 0% 3.9%);
    --btn-black: hsl(0, 0%, 10%);
    --btn-red: hsla(2, 100%, 93%, 1);
    --text-red: hsla(3, 100%, 67%, 1);
  }
}

@theme{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

main {
  background-color: var(--color-background);
}

.span-color {
  background-color: var(--color-background);
}

.btn-black {
  background-color: var(--btn-black);
}

.btn-red {
background-color: var(--btn-red);
color: var(--text-red);
}

@keyframes gradientAnimation {
  0% {
    box-shadow: 0 0 10px #ea5a5a, 0 0 20px #ea5a5a, 0 0 30px #ea5a5a;
  }
  25% {
    box-shadow: 0 0 10px #a7771f, 0 0 20px #a7771f, 0 0 30px #a7771f;
  }
  50% {
    box-shadow: 0 0 10px #6d498f, 0 0 20px #6d498f, 0 0 30px #6d498f;
  }
  75% {
    box-shadow: 0 0 10px #92e992, 0 0 20px #92e992, 0 0 30px #92e992;
  }
  100% {
    box-shadow: 0 0 10px #9696f6, 0 0 20px #9696f6, 0 0 30px #9696f6;
  }
}

.shadow-gradient {
  animation: gradientAnimation 3s infinite;
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(135deg, #6DD5FA, #b0adf4, #bdb5c3, #f2f1d6);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.bouncing-button {
  animation: scale 3s infinite;
}

.profile-button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-button:hover {
  transition: background-color 0.5s ease;
  background: linear-gradient(135deg, rgba(20, 30, 48, 1), rgba(36, 59, 85, 0.2));
}

.profile-button:hover span {
  transition: color 0.3s ease;
  color:white;
}

.profile-button:hover img {
  background-color: white; /* Change image background to white on hover */
  transition: background-color 0.3s ease;
}